<title>My application deployed automatically</title>
  <h1>This application takes two integer lists, one string list and one integer and returns concatenated string using these inputs. </h1>
  <h2>Enter two integer lists, one string list and one integer. </h2>

    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
		<textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
